

.semiCircle{
    position:absolute;
    left:25%;
    top:75%;
    transform:translate(-10%,-55%);
    width:900px;
    height:450px;
    background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);
    border-radius: 450px 450px 0 0;

}

.loginBox{
    width:400px;
    height:350px;
    background-color:rgb(250, 250, 250);
    margin-left:28%;
    box-shadow: 10px 10px 8px #888888;
    margin-top: -20%;
}
.loginfield {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  label{
float: left;
margin-left: 20px;
  }

           
.loginBtn   {
   background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border: none;
   border-radius: 10px;
   display: block;
   width: 90%;
   cursor: pointer;
 }
 
 .signupBtn{
  color: white; 
    font-size: 12px;
    align-items: center;
    background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);
    padding: 10px;
    border: none;
    text-size-adjust: 5px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;

 }

 

  
 